.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.05);
}


.middles {
  grid-column-start: 90;
  grid-column-end: 99;
  grid-row-start: 80;
  grid-row-end: 81;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;
  padding: 1vw;
  background-color: rgba(0, 0, 0, .05);

}

.left {
  padding: 20px;
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 1;
}

.center {
  padding: 20px;
  border: 1px solid black;
  grid-column-start: 2;
  grid-column-end: 2;
  place-self: stretch;
}

.right {
  padding: 20px;
  border: 1px solid black;
  grid-column-start: 3;
  grid-column-end: 3;
  justify-content: center;
}

.upper {
padding: 20px;
border: 1px solid black;
grid-row-start: 1;
grid-row-end: 1;
justify-content: center;
}

.middle {
padding: 20px;
border: 1px solid black;
grid-row-start: 2;
grid-row-end: 2;
justify-content: center;
}

.lower {
padding: 20px;
border: 1px solid black;
grid-row-start: 3;
grid-row-end: 3;
justify-content: center;
}
